body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100dvw;
  height: 100dvh;
  background: #151716;

}
form{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  /* padding: 10px; */
}

footer{
  color: white;
  font-size: small;
  padding: 22px;
  background: #141615;
}